.cart-page {
  /* width: 90%; */
  /* margin: 40px auto; */
  /* background-color: rgb(162, 245, 227); */
  background-color: rgb(252, 216, 149);
  height: 100vh;
}

.cart-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

.cart-card {
  display: flex;
  align-items: flex-start;
  background: #ffdcdc;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.2s ease;
  padding: 15px;
  width: 90%;
  margin: 40px auto;
}

.cart-card:hover {
  transform: scale(1.02);
}

.cart-thumbnail {
  flex: 0 0 180px;
}

.cart-image {
  /* width: 100%; */
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-details {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cart-desc {
  color: #555;
  margin: 5px 0;
}

.price {
  font-weight: bold;
  margin-top: 5px;
}

.cart-actions {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.checkout-btn,
.remove-btn,
.checkout-all-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  
}

.checkout-btn {
  background: #4caf50;
  color: #fff;
}
.checkout-btn:hover{
  transform: scale(1.04);
}
.remove-btn {
  background: #f44336;
  color: #fff;
}
.remove-btn:hover{
  transform: scale(1.04);

}
.cart-summary {
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.totalValue{
  margin:0px 60px 10px;
}
.checkout-all-btn {
  background: #2196f3;
  color: white;
  padding: 10px 18px;
  margin: 10px 90px;
  border-radius: 8px;
}

.checkout-all-btn:hover {
  background: #0d8bf2;
  transform: scale(1.04);

}

.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #666;
}
