.studentDashboard {
  /* width: 100vw; */
  /* height: 100vh; */
  padding: 20px;
  /* background: #f9fafb;  */
  background: linear-gradient(135deg, #eef2f3, #8ec5fc);
  
}

.carticon{
  margin-top: -60px;
  transition: transform 0.2s ease;
  /* margin-left: -180px; */
  
}
.we{
  margin-top: -40px;
  margin-left: -130px;
  position: relative;

}
.carticon:hover {
  transform: scale(1.03);
  color: #007bff; 
}
.cartNumberItem1{
  position: absolute;
  margin-top: -27px;
  margin-left: -15px;
  /* font-size: 14px; */
  color: rgb(48, 93, 133);
}

.dashboard-top {
  position: relative;          /* allows absolute positioning of right element */
  display: flex;
  justify-content: center;     /* centers Coupan horizontally */
  align-items: center;         /* vertically center content */
  width: 100%;
}

.dashboardcoupan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
 
}

.userImage {
  position: absolute;
  right: 0;                    /* push image to far right */
  top: 20%;
  margin-right: 10px;
  /* transform: translateY(-50%);  */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
