/* .dashboard{
  height: 100vh;
  background-color: antiquewhite;
} */
 
/* .dashboardImage {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  padding: 10px 20px;
  position: relative; 
} */

/* Coupan takes big space & centered */


/* Profile photo button aligned to right */
.navImage {
  position: absolute;
  right: 20px;   
  
  margin-top: 8px;
  /* margin-right: 30px; */
  transform: translateY(-50%); 
  background: none;
  border: none;
  cursor: pointer;
}

.dashboardImage11 {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* circle */
  object-fit: cover;
}

.sidebarContainer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebarContainer.open {
  right: 0; /* slide in */
}


