/* === Popup Styles === */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 23, 42, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* background: hidden; */
  /* backdrop-filter:blur(5px); */
  /* pointer-events: auto; */
}

.popup-box {
  background: #1e293b;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.4);
  max-width: 400px;
  width: 90%;
  /* pointer-events: auto; */

}

.popup-box h3 {
  color: #f1f5f9;
  margin-bottom: 25px;
  font-size: 20px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.popup-ok {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup-ok:hover {
  background-color: #2563eb;
  transform: scale(1.05);
}

.popup-cancel {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup-cancel:hover {
  background-color: #dc2626;
  transform: scale(1.05);
}
