.container2 {
  max-width: 1400px;
  margin: auto;
  padding: 80px 60px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

/* LEFT */
.container2-left {
  /* background: #0f172a; */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* RIGHT */
.container2-right {
  text-align: left;
}

.container2-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.highlight {
  color: #4f46e5;
}

.container2-desc {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* BUTTONS */
.container2-actions {
  display: flex;
  gap: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container2 {
    grid-template-columns: 1fr;
    padding: 50px 25px;
  }

  .container2-title {
    font-size: 28px;
  }

  .container2-actions {
    flex-direction: column;
    align-items: flex-start;
  }
}
