.container {
  max-width: 1400px;
  margin: auto;
  padding: 100px 60px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;
  font-family: "Inter", sans-serif;
}

/* LEFT */
.container-left {
  text-align: left;
}

.container-title {
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight {
  color: #4f46e5;
}

.container-desc {
  font-size: 17px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 520px;
}

/* ACTIONS */
.container-actions {
  display: flex;
  gap: 18px;
}

/* RIGHT */
.container-right {
  /* background: #0f172a; */
  border-radius: 18px;
  padding: 22px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    padding: 70px 25px;
  }

  .container-title {
    font-size: 32px;
  }

  .container-actions {
    flex-direction: column;
    align-items: flex-start;
  }
}


/* Container2.css */
.container12style{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* example gradient */
  padding: 2rem;
  border-radius: 20px;
  margin-top: 2rem;
  position: static;
  z-index: 0;
  overflow: hidden;
  color: #0f0; 
  height: 6cm;
  width: 7cm;
  margin-right: 40px;
}
