
.dashboard-container {
  padding: 30px;
  background-color: #89a3f0;
  min-height: 100vh;
}

.dashboard-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #333;
}

/* LOADING */
.dashboard-loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

/* SUMMARY CARDS */
.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.dashboard-card {
  flex: 1;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.dashboard-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}

.dashboard-card h3 {
  font-size: 24px;
  color: #222;
}

/* TABLE */
.dashboard-table-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.dashboard-table-container h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  padding: 12px 15px;
  text-align: left;
}

.dashboard-table thead {
  background-color: #f1f3f8;
}

.dashboard-table th {
  font-size: 14px;
  color: #555;
}

.dashboard-table tr {
  border-bottom: 1px solid #eee;
}

.dashboard-table tr:last-child {
  border-bottom: none;
}

.dashboard-table td {
  font-size: 14px;
  color: #333;
}

.no-data {
  text-align: center;
  color: #999;
  padding: 20px;
}

.addCourse {
  background-color: #2563eb;
  color: white;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 30px;
}

.addCourse:hover {
  background-color: #1e40af;
}  