


.updatePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a2e;
  /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.containerPass {
  background: #fff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 400px;
  max-width: 90%;
  text-align: center;
}
.seepass{
    position: relative;
   bottom:30px;
    left:210px;
    cursor: pointer;
}
.seepass1{
    position: relative;
   bottom:30px;
    left:210px;
    cursor: pointer;

}
.containerPass label{
      display: block;
  text-align: left;
  font-weight: 500;
  margin-bottom: 0.3rem;
  color: #16213e;
}
.containerPass input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 7px;
  border: 1px solid #a5b4fc;
  outline: none;
  font-size: 1rem;
  transition: 0.3s ease;
  background-color: #fff;
}
.containerPass button{
      width: 100%;
  padding: 0.75rem;
  background:rgb(241, 241, 50);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: #251212;
  font-weight: 600;
  cursor: pointer;
}
/* .containerPass  button:hover {
  background: #1a5ed8;
} */

.containerPass button:active {
  background: #89aa55;
}
